/* style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

form {
    text-align: center;
}

input[type="file"] {
    border: none;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
}

input[type="submit"] {
    border: none;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

#result {
    margin: 20px;
    text-align: center;
}

h2 {
    font-weight: bold;
}

p {
    font-size: 18px;
}
